*.bak
.DS_Store
.access_tokens
.cache_open_elevation.sqlite
.cache_strava.sqlite
.findsrc.*
.idea/
.python-version
data/journal.yaml
images/
misc/
output/image/
output/index/
output/inputs/
output/metrics/
strava.db
