{% extends "layout.html" %}

{% block title %}Biking Performance Metrics{% endblock %}

{% block content %}
<div class="flex flex-col items-start min-h-screen pb-4">

    <header class="w-full text-center py-4 bg-gray-300">
        <h1 class="text-xl font-bold text-gray-700">Biking - Daily Metrics</h1>
    </header>

    {{ macros.top_menu(period, '../../..', 'Index', 'Inputs') }}

    <div class="flex justify-center items-center mx-4">
        <table class="table-auto border-collapse bg-gray-100 text-gray-800">
            <thead>
                <tr class="sticky top-0 bg-gray-300">
                    {% set classes = "border border-white font-normal px-2 py-1 text-center whitespace-normal" %}
                    <th class="{{ classes }}">#</th>
                    <th class="{{ classes }}">Date</th>
                    <th class="{{ classes }}">Distance (mi)</th>
                    <th class="{{ classes }}">Avg Distance</th>
                    <th class="{{ classes }}">Speed (mph)</th>
                    <th class="{{ classes }}">Avg Speed</th>
                    <th class="{{ classes }}">Top Speed (mph)</th>
                    <th class="{{ classes }}">Avg Top Speed</th>
                    <th class="{{ classes }}">Elevation gain (ft)</th>
                    <th class="{{ classes }}">Avg Elev gain</th>
                    <th class="{{ classes }}">Power (W)</th>
                    <th class="{{ classes }}">Avg Power</th>
                    <th class="{{ classes }}">Energy (kJ)</th>
                    <th class="{{ classes }}">Avg Energy</th>
                    <th class="{{ classes }}">Calories (kCal)</th>
                    <th class="{{ classes }}">Avg Calories</th>
                    <th class="{{ classes }}">Ride Rate (%)</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr class="hover:bg-blue-100">
                        {% set classes = "border border-white px-2 py-1 text-right whitespace-nowrap" %}
                        <td class="{{ classes }}">{{ loop.index }}</td>
                        <td class="{{ classes }}">{{ row["date"] }}</td>
                        <td class="{{ classes }}">{{ row["distance"] }}</td>
                        <td class="{{ classes }}">{{ row["avg_distance"] }}</td>
                        <td class="{{ classes }}">{{ row["speed"] }}</td>
                        <td class="{{ classes }}">{{ row["avg_speed"] }}</td>
                        <td class="{{ classes }}">{{ row["top_speed"] }}</td>
                        <td class="{{ classes }}">{{ row["avg_top_speed"] }}</td>
                        <td class="{{ classes }}">{{ row["elevation"] }}</td>
                        <td class="{{ classes }}">{{ row["avg_elevation"] }}</td>
                        <td class="{{ classes }}">{{ row["power"] }}</td>
                        <td class="{{ classes }}">{{ row["avg_power"] }}</td>
                        <td class="{{ classes }}">{{ row["energy"] }}</td>
                        <td class="{{ classes }}">{{ row["avg_energy"] }}</td>
                        <td class="{{ classes }}">{{ row["calories"] }}</td>
                        <td class="{{ classes }}">{{ row["avg_calories"] }}</td>
                        <td class="{{ classes }}">{{ row["ride_rate"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}
