{% extends "layout.html" %}

{% block title %}Biking Performance Graphs{% endblock %}

{% block content %}
<div class="flex flex-col items-center min-h-screen bg-gray-200 pb-4" x-data="{ hover: undefined }">
    {% set metric_types = (
        ("power", "Power"),
        ("work", "Work"),
        ("performance", "Performance"),
        ("calories", "Calories"),
        ("speed", "Speed"),
        ("top_speed", "TopSpeed"),
        ("distance", "Distance"),
        ("time", "Time"),
        ("elevation_gain", "ElevationGain"),
        ("elevation_limits", "ElevationLimits"),
        ("ride_rate", "RideRate"),
    ) %}

    {% macro graph_link(group, id, jpg_name) %}
        <a href="#{{ id }}" x-data="{ localGroup: '{{ group }}' }">
            <img src="../../image/daily/{{ period }}/{{ jpg_name }}.jpg" alt="{{ jpg_name }} graph"
                 class="rounded-lg border-2 border-transparent hover:border-blue-400"
                 x-bind:class="(!hover || hover == localGroup) ? '' : 'brightness-[.80]'"
            >
        </a>
    {% endmacro %}

    <header class="w-full text-center py-4 bg-gray-300">
        <h1 class="text-xl font-bold text-gray-700">Biking Performance - Daily</h1>
    </header>

    {{ macros.top_menu(period, '../..', 'Inputs', 'Metrics') }}

    <div class="block md:hidden w-full mb-4">
        <div class="grid grid-cols-2 gap-4 px-4 pb-4 items-center">
            {% for anchor_name, jpg_name in metric_types %}
                {{ graph_link('placebo', anchor_name, jpg_name) }}
            {% endfor %}

            <div class="w-full text-sm text-center italic text-gray-400 px-4">
                Select a thumbnail to jump to the full-size image.  Select that to jump back.
            </div>
        </div>
    </div>

    <div class="hidden md:block w-full place-items-center mb-16">
        <div class="grid grid-cols-3 gap-x-4 w-4/5 max-w-5xl">
            <div class="flex flex-col gap-4 rounded-lg"
                 @mouseenter="hover = 'grp_power'"
                 @mouseleave="hover = undefined"
            >
                {{ graph_link('grp_power', 'power', 'Power') }}
                {{ graph_link('grp_power', 'work', 'Work') }}
                {{ graph_link('grp_power', 'performance', 'Performance') }}
                {{ graph_link('grp_power', 'calories', 'Calories') }}
            </div>

            <div class="flex flex-col gap-4">
                <div class="flex flex-col gap-4 rounded-lg"
                     @mouseenter="hover = 'grp_speed'"
                     @mouseleave="hover = undefined"
                >
                    {{ graph_link('grp_speed', 'speed', 'Speed') }}
                    {{ graph_link('grp_speed', 'top_speed', 'TopSpeed') }}
                </div>
                {{ graph_link('', 'time', 'Time') }}
                {{ graph_link('', 'ride_rate', 'RideRate') }}
            </div>

            <div class="flex flex-col gap-4">
                <div class="flex flex-col gap-4 rounded-lg"
                     @mouseenter="hover = 'grp_elevation'"
                     @mouseleave="hover = undefined"
                >
                    {{ graph_link('grp_elevation', 'elevation_gain', 'ElevationGain') }}
                    {{ graph_link('grp_elevation', 'elevation_limits', 'ElevationLimits') }}
                </div>
                {{ graph_link('', 'distance', 'Distance') }}
                <div class="flex items-center h-full">
                    <div class="text-sm text-center italic text-gray-400 mx-4">
                        Select a thumbnail to jump to the full-size image.  Select that to jump back.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-1 gap-4 md:w-4/5 max-w-5xl">
        {% for id_name, jpg_name in metric_types %}
            <div id="{{ id_name }}" class="pt-6">
                <a href="#top">
                    <img src="../../image/daily/{{ period }}/{{ jpg_name }}.jpg" alt="{{ jpg_name }} graph"
                         class="rounded-lg w-full border-2 border-transparent hover:border-blue-400">
                </a>
                <div class="flex justify-end text-center gap-4 leading-tight">
                    <a class="text-gray-500 hover:text-blue-500 hover:underline {{ 'font-bold' if period == 'last30' else '' }}"
                       href="last30.html#{{ id_name }}">Last 30</a>
                    <a class="text-gray-500 hover:text-blue-500 hover:underline {{ 'font-bold' if period == 'last60' else '' }}"
                       href="last60.html#{{ id_name }}">Last 60</a>
                    <a class="text-gray-500 hover:text-blue-500 hover:underline {{ 'font-bold' if period == 'last90' else '' }}"
                       href="last90.html#{{ id_name }}">Last 90</a>
                    <a class="text-gray-500 hover:text-blue-500 hover:underline {{ 'font-bold' if period == 'all' else '' }}"
                       href="all.html#{{ id_name }}">All Time</a>
                    <a class="ml-4 text-gray-500 hover:text-blue-500 hover:underline"
                       href="../../image/daily/{{ period }}/{{ jpg_name }}.jpg">Full Image</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}