{% extends "layout.html" %}

{% block title %}Biking Performance Inputs{% endblock %}

{% block content %}
<div class="flex flex-col items-start min-h-screen pb-4">

    <header class="w-full text-center py-4 bg-gray-300">
        <h1 class="text-xl font-bold text-gray-700">Biking - Daily Inputs</h1>
    </header>

    {{ macros.top_menu(period, '../..', 'Graphs', 'Metrics') }}

    <div x-data="{ highlightedColumn: null }" class="flex justify-center items-center mx-auto">
        <table class="table-auto border-collapse bg-gray-100 text-gray-800">
            <thead>
                <tr class="sticky top-0 bg-gray-300">
                    {% set classes = "border border-white font-normal px-2 py-1 text-center whitespace-normal" %}
                    {% set highlightClasses = classes + " bg-blue-100" %}
                    {% set metric_names = [
                        "#",
                        "Date",
                        "Distance (mi)",
                        "Time (min)",
                        "Avg Speed (mph)",
                        "Top Speed (mph)",
                        "Elevation gain (ft)",
                        "Elev start (ft)",
                        "Elev high (ft)",
                        "Elev low (ft)",
                        "Power (W)"
                    ] %}
                    {% for name in metric_names %}
                        <th class="{{ classes }}"
                            :class="highlightedColumn === {{ loop.index0 }} ? '{{ highlightClasses }}' : '{{ classes }}'"
                            @mouseenter="highlightedColumn = {{ loop.index0 }}" @mouseleave="highlightedColumn = null"
                        >{{ name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr class="hover:bg-blue-100">
                        {% set classes = "border border-white px-2 py-1 text-right whitespace-nowrap" %}
                        {% set highlightClasses = classes + " bg-blue-100" %}
                        {% set metric_values = [
                            loop.index,
                            row["date"],
                            row["distance"],
                            row["time"],
                            row["average_speed"],
                            row["top_speed"],
                            row["total_elevation_gain"],
                            row["elev_start"],
                            row["elev_high"],
                            row["elev_low"],
                            row["power"],
                        ] %}
                        {% for value in metric_values %}
                            <td class="{{ classes }}"
                                :class="highlightedColumn === {{ loop.index0 }} ? '{{ highlightClasses }}' : '{{ classes }}'"
                                @mouseenter="highlightedColumn = {{ loop.index0 }}" @mouseleave="highlightedColumn = null"
                            >{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}
